.nav-item a{
    color: rgb(255, 255, 255);
    font-weight: bolder;
  }

  .fa-brands{
    color: #fff;
    font-size: 25px;
    margin-top: 20px;
  }

  .fa-solid{
    color: #0d6efd;
    font-size: 5vw;
  }

  .dropdown-menu{
    background-color: #0d6efd;
  }

  #footer_menu{
    color: #0d6efd;
    font-weight: bold;
  }

  #myDIV {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
  }

  #newcolor{
    color: #0d6efd;
  }


  #imagePreview {
    max-width: 100%;
    margin: 20px 0;
}
.controls {
    margin: 20px 0;
}
.crop-area {
    border: 2px dashed #333;
    position: relative;
    display: none;
    margin: 20px auto;
}
.crop-box {
    position: absolute;
    border: 2px solid red;
    background: rgba(255, 0, 0, 0.1);
    cursor: move;
}
button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #0d6efd;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0050c7;
}

/* .container {
  text-align: center;
} */